.main {
  width: 100%;
  height: 80vh;
}
.main .main-inner {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-inner .main-text {
  width: 50%;
  padding: 5rem 5% 2rem;
}
.main-text h1 {
  font-size: 2rem;
  font-weight: 700;
}
.main-text .text-animate {
  position: relative;
}
.main-text .text-animate h3 {
  font-weight: 700;
  color: transparent;
  font-size: 2rem;
  -webkit-text-stroke: 0.7px var(--main-color);
}
.main-text p {
  margin: 2rem 0 2rem;
}
.main-text .btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 5rem;
}
.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 3rem;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.btn-box .btn:hover {
  color: var(--main-color);
}
.btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}
.btn-box .btn:nth-child(2):hover {
  color: var(--bg-color);
}
.btn-box .btn:nth-child(2)::before {
  background: var(--main-color);
  color: var(--bg-color);
}
.btn-box .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}
.btn-box .btn:hover::before {
  width: 100%;
}
.main-text .boglanish {
  display: flex;
  position: absolute;
  /* bottom: 1rem; */
  width: 170px;
  justify-content: space-between;
}
.boglanish a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  text-decoration: none;
  font-size: 20px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.boglanish a:hover {
  color: var(--bg-color);
}
.boglanish a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  z-index: -1;
  transition: 0.5s;
}
.boglanish a:hover::before {
  width: 100%;
}
.main-inner .main-img {
  display: flex;
  width: 50%;
}
.main-img .img {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img .rasm {
  width: 400px;
  border-radius: 50%;
  margin-top: 6rem;
  border: 3px dashed #fff;
}
