#sikl {
  width: 100%;
  height: auto;
  background-color: var(--second-bg-color);
}
#sikl .sikl-inner {
  width: 100%;
  height: auto;
  padding-bottom: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sikl-inner .heading {
  font-size: 2.6rem;
}
.sikl-inner span {
  color: var(--main-color);
}
.sikl-inner .skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  width: 100%;
}

.skills-row .skills-column {
  flex: 1 1 40rem;
  width: 100%;
}
.skills-column .title {
  font-size: 1.6rem;

  margin: 1rem 0 1.5rem;
}
.skills-column .skills-box {
  display: flex;
  width: 100%;
}
.skills-box .skills-content {
  position: relative;
  border: 0.2rem solid var(--main-color);
  /* width: 80%; */
  padding: 0.5rem 1.5rem;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}
.skills-box .skills-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}
.skills-box .skills-content:hover::before {
  width: 100%;
}
.skills-content .progress {
  padding: 1rem 1.5rem;
  /* width: 100%; */
}
.skills-content .progress h3 {
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  align-items: center;
}
.skills-content .progress h3 span {
  color: var(--text-color);
}
.skills-content .progress .bar {
  height: 2.5rem;
  border-radius: 0.6rem;
  padding: 0.3rem;
  border: 0.2rem solid var(--main-color);
}
.skills-content .progress .bar span {
  display: block;
  height: 100%;
  border-radius: 0.3rem;
  background-color: var(--main-color);
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
  width: 100%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
  width: 90%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
  width: 65%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
  width: 75%;
}
